.backgroundCard {
    display: flex;
    width: 352px;
    height: 632px;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(../../public/icons/Pokeball.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 4%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 10px;
    text-decoration: none;
    width: 352px;
}

.icons {
    margin-right: 5px;
}

.pokemonName {
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-right: 10px;
    text-transform: capitalize;
}

.pokemonId {
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-right: 10px;
}

.imageSection {
    height: 112px;
    z-index: 100;
    display: flex;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    position: relative;
}

.pokemonPic {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 80px;
    top: -25px;
}

.infoSection {
    display: flex;
    height: 425px;
    padding: 56px 20px 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
}

.pokemonTypes {
    width: auto;
    height: 20px;
    align-self:center;
    text-align: center;
    padding: 0 10px 5px 10px;
    border-radius: 10px;
}

.pokemonTypesText {
    color: #f7f7f7;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    text-transform: capitalize;
}

.h1 {
    align-self: stretch;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin: 10px 0 0 0;
}

.features {
    font-size: 0.65rem;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    gap: 15px;
    width: auto;
}

.features_weight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-right: 1px solid grey;
    border-collapse: separate;
    padding-right: 15px;
}

.features_weightInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.features_weightImg {
    margin-right: 10px;
}

.features_subTitle {
    font-size: 0.55rem;
}

.features_height {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-right: 1px solid grey;
    border-collapse: separate;
    padding-right: 15px;
}

.features_heightInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.features_heightImg {
    margin-right: 10px;
}

.features_moves {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.features_movesInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
}

.description {
    font-size: 0.65rem;
    margin-bottom: 0px;
}

.pokemonSkills {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 180px;
}

.abilities {
    font-weight: 700;
    margin-right: 20px;
    list-style: none;
    font-size: 0.65rem;
    line-height: 1.1rem;
    width: 280px;
    text-align: end;
    border-right: 1px solid grey;
    border-collapse: separate;
    padding-right: 20px;
}

.abilitiesValue {
    list-style: none;
    font-size: 0.65rem;
    line-height: 1.1rem;
    margin-right: 20px;


}

.progressBar {
    line-height: 1.1rem;
    display: flex;
    flex-direction: column;
    height: 12px;
    margin-top: 5px;

}


