body {
    font-family: 'Poppins', sans-serif;
    align-items: start;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 40px 0 20px 0;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    background: gainsboro;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border: none;
    align-items: center;
    padding-top: 5px;
    margin-top: 7px;
}

.btnNumeral {
  display: block;
  padding-right: 10px;
  color: lightgray;
}

.btnAlfabetico {
  display: none;
  padding-right: 10px;
  color: lightgray;
}

.btn__title {
    display: flex;
    align-items: center;
    margin: 0 20px;
    border: none;
    background-color: #f7f7f7;
}

.pokeball {
    height: 2rem;
    margin: 0 20px;
}

.input {
    border: 1px solid lightgray;
    outline: 5px;
    border-radius: 5px;
    height: 30px;
    width: 98%;
    margin: 0 1.25% 0 10px;
    font-size: 0.8rem;
    text-align: center;
}

